<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
<form method="POST" action="/register">
  <label>Full Name:</label><br>
  <input type="text" name="full_name" required><br>

  <label>Email:</label><br>
  <input type="email" name="email" required><br>

  <label>Password:</label><br>
  <input type="password" name="password" required><br>

  <label>Role:</label><br>
  <select name="role">
    <option value="customer">Customer</option>
    <option value="cleaner">Cleaner</option>
  </select><br><br>

  <input type="submit" value="Register">
</form>

</body>
</html>